[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
python-dotenv = "*"
ruff = "*"
filelock = "*"

[dev-packages]

[requires]
python_version = "3.13"
