TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=abcdef
INVITE_LINKS="https://t.me/+MlRMaKSc0_gxMGNk,
    https://t.me/+Qs5PUoQSXWxlNzBk"
MT4_FOLDER="C:\\Users\\Juhász Áron\\AppData\\Roaming\\MetaQuotes\\Terminal\\893F70E9EF760D3B32BDD358B27B8555"
